*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 100px;
    background-color:#252525;
}

header{
    color:white;
    text-align: center;
    font-family: Poppins;

}

h1{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    font-size: 36px;
}

h1::after{
    content: "";
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 3px;
    background-color: white;
}

main{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    
}

.MacsZ{
    height: 100%;
    width: 20%;
    background: #020202;
    border-radius: 20px;
    margin-right: 60px;

}

.PCGAMER{
    height: 80%;
    width: 20%;
    background: #020202;
    border-radius: 20px;
    margin-right: 60px;
}

.Cadastro{
    height: 80%;
    width: 18%;
    background: #020202;
    border-radius: 20px; 
}

.bloco-tres{
    font-family: Poppins; 
    height: 100px;
}

h2{
    color:#FFB800;
    font-family: Permanent Marker;
    text-align: left;
    font-size: 35px;
}

footer{
    margin-top: 100px;
    margin-left: 42%;
}

